//colors
$darkCyan : hsl(185, 75%, 39%);
$darkBlue : hsl(229, 23%, 23%);
$grayBlue : hsl(227, 10%, 46%);
$neutral  : hsl(0, 0%, 59%)   ;

//font 
$font-size   : 18px; 
$font-stack1 : 400 $font-size 'Kumbh Sans', sans-serif;
$font-stack2 : 700 $font-size 'Kumbh Sans', sans-serif;

